.jobHistory {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 160px;
  overflow: auto;
  background-color: #ffd700;
  padding: 10px;
}

.container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
