.jobHistory {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 160px;
  overflow: auto;
  background-color: #ffd700;
  padding: 10px;
}

.title {
  text-align: center;
  color: white;
  font-weight: bold;
}

.iconContainer {
  text-align: center;
  padding-top: 30px;
}
