.github {
  background-color: #ff5f3e;
  height: 100%;
  color: #efefef;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 160px;
  overflow: auto;
  padding: 10px;
}

.githubAvatar {
  width: 240px;
  height: 240px;
  position: relative;
  margin: auto;
}

.githubAvatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid white;
}

.githubAvatar .githubIcon {
  position: absolute;
  right: 0;
  bottom: -6px;
}

.title {
  margin: 0;
  font-size: 40px;
  line-height: 60px;
}
